body{
   margin: 0;
   background: #003B6F;
   text-align: center;
}

@font-face {
   font-family: 'Quicksand', sans-serif;
   src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}

.nav__list ul li a {
   margin: 0;
   padding: 0;
   list-style: none;
}